{erl_opts, [debug_info]}. %, fail_on_warning]}.

{require_otp_vsn, "R1[45]"}.

{deps_dir, ["deps"]}.

{deps,
 [
  {ranch,   ".*", {git, "https://github.com/extend/ranch.git",  {tag, "0.6.2"}}},
  {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.2"}}},
  {jsx,     ".*", {git, "https://github.com/spawnfest/jsx.git", {branch, "beamspirit"}}}
]}.
